<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="quickCall"></ion-menu-button>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let category of categories" text-center>
        <ion-label
          ion-button
          [ngClass]="{ unavailable: !category.enable }"
          [routerLink]="['/', 'home', 'tabs', 'categories', category.id]"
        >
          <ion-icon name="home"></ion-icon>
          <h1>{{ category.title }}</h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
